body{
    background-color: #a6abad;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Write CSS code below */
body{
    display: block;
}
.main-content{
    min-heigth: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-row: 20% 80%;
    grid- template-column: 300px 700px;
}
. left-section{
    grid-area: 1/1/3/2;
        grid-column: span 1; 
        background-color: #242531;
}
. right-section{
    grid-area: 1/2/3/3;
        grid-column: span 1 /span 2;
        backgroud-color: #f7f7f7; 
}
.left-content{
padding: 1  rem;
}
.profile-image{
    border: 5px white solid;
    border-radius: 30%;
    width: 60%;
    
}
.name{
    font-size: 1.2 rem;
    weigth: 700px;
}
.designation{
    font-size: 1 rem;
    text-align: center;
    text-transform: uppercase;
    
}    
.description{
    font-size: 0.75 rem;
    text-align: center
    padding:  1em;
        
}        
    
